.tag {
  display: inline-block;
  padding: 0.3rem 0.6rem;
  margin: 0.2rem;
  font-size: 0.85rem;
  font-weight: 500;
  color: white;
  border-radius: 12px;
  background-color: #555; /* Cor padrão */
  text-transform: uppercase;
}

/* Cores específicas */
.html {
  background-color: #e44d26;
}

.css {
  background-color: #264de4;
}

.php {
  background-color: #8892be;
}

.javascript {
  background-color: #f0db4f;
  color: #323330;
}

.mysql {
  background-color: #00758f;
  color: white;
}

.vercel {
  background-color: #000000;
  color: #ffffff;
}


.react {
  background-color: #61dafb;
  color: #20232a;
}

.reactnative {
  background-color: #00d8ff;
  color: #000000;
}


.bootstrap {
  background-color: #7952b3;
}

.typescript {
  background-color: #3178c6;
  color: white;
}

.expo {
  background-color: #000020; /* Azul escuro quase preto da identidade do Expo */
  color: #ffffff;
}