.title-div{
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  font-family: "Menbere", sans-serif;
}

h1{
  font-weight: bolder;
  margin: 0;
  font-size:xx-large;
}

.div-center{
  text-align: center;
}

.div-mid-left{
  text-align: left;
}
.h1-mid-left{
  padding-left: 10%;
}

.div-mid-right{
  text-align: right;
}
.h1-mid-right{
  padding-right: 10%;
}
